*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  user-select: none;
}


.homePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: #EEF0F4;
  min-height: 100vh;
  max-width: 1200px;
  padding-top: 1rem;
  padding-bottom: 3rem;
}

.catImg{
  width: 30%;
}

.homepageInput,
.addToCartBtn{
  width: 70%;
  padding: 0.6rem 0;
  border-radius: 10px;
  border: none;
  text-align: center;
  font-size: 1rem;
}

.homepageInput{
  background-color: rgb(218,225,234);
  
}
.homepageInput::placeholder{
  color: rgb(172,172,172);
}
.addToCartBtn{
  background-color: rgb(172,71,90);
  color: whitesmoke;
  transition-duration: 1.2s;
  cursor: pointer;
}
.addToCartBtn:hover{
  background-color: #432000;
}

.itemList{
  display:flex;
  flex-wrap: wrap;
  width: 70%;
  max-width: 70%;
  gap: 0.5rem;
  

}

.itemToBuyDiv{
  background-color: #FFFDF8;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
  padding: 1rem 2rem;
  border-radius: 10px;
  flex-grow: 1;
  text-align: center;
  transition-duration: 1.2s;
  cursor: pointer;
}
.itemToBuyDiv:hover{
  background-color: #FFECC7;
}

.noItemsP{
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}